/* 768px
========================================================================== */


// Fix the header as a left column

.site-contain {
	position: relative;
}

.site-head {
	@include box-sizing(border-box);
	border-right: 1px solid #eee;
	position: fixed;
	top: 5em;
	max-width: 240px;
	width: calc-percent(180px, $site-max-width);
	text-align: left;
}

.site-body {
	padding: 5em 2em 2em calc-percent(280px, $site-max-width);
}