/* Article
   ========================================================================== */
   

.post {
	word-wrap: break-word;
}

.post__header {
	margin-bottom: 1.4em;
}

.post__title {
	margin-bottom: 0;
}

.post__header > p {
	display: inline;
}

pre {
	background-color: rgba(245, 245, 245, 1);
	padding: 1em;
	overflow: auto;
	word-wrap: normal; // Stop break-word
	
	@include radius(.1em);
}

.post p {
	
	&:last-child {
		margin-bottom: 0;
	}
}

code {
	color: #96445B;
}

/*.post__date {
	display: inline-block;
	border-bottom: 1px solid #ccc;
	margin: 0 0 $base-line-height + em;
	padding-right: 1em;
}
*/

.post a {
	&:hover {
		background: $brand;
		color:#fff;
	}
}