/* Header
   ========================================================================== */

.site-head {
	padding: 1em;
	text-align: center;
}

.site-mark {
	background-color: $brand;
	display: inline-block;
	max-width: 40px;
	max-height: 40px;
	padding: 1em;
	text-align: center;
	
	@include radius(.2em);
}

.site-mark img {
	max-width: 60%;
}

