@font-face {
  font-family: 'icomoon';
  src: url("/assets/fonts/icomoon.eot");
  src: url("/assets/fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/icomoon.svg#icomoon") format("svg"), url("/assets/fonts/icomoon.woff") format("woff"), url("/assets/fonts/icomoon.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

article, aside,
dialog, figure,
footer, header,
hgroup, menu,
nav, section {
  display: block;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: cambria, georgia, times, serif;
  font-size: 16px;
  line-height: 1.8;
  color: #3d3c3c;
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  background: #fefefe;
  margin: 0;
}

::selection,
::-moz-selection {
  background-color: #3d3c3c;
  color: #fff;
  text-shadow: none;
}

.typekit-badge {
  bottom: 1em !important;
  right: 1em !important;
}

/* Links
   ========================================================================== */
a {
  text-decoration: none;
}

/* Addresses outline displayed oddly in Chrome */
a:focus {
  outline: thin dotted;
}

/* Improves readability when focused and also mouse hovered in all browsers */
a:hover,
a:active {
  outline: 0;
}

a:hover,
a:focus,
a:active {
  text-decoration: none;
}

/*
 * 1. Allows images to undergo proportional down-scaling within a container
 * 2. Removes border when inside 'a' element in IE8/9, FF3
 * 3. Removes excess space below inline images
 */
img {
  max-width: 100%;
  height: auto;
  border: 0;
  vertical-align: middle;
}

/* Lists
   ========================================================================== */
ul,
ol {
  padding-left: 30px;
}

ul ul,
ol ol,
ul ol,
ol ul {
  margin: 0;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 30px;
}

/* Tables
   ========================================================================== */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Typography
   ========================================================================== */
.hx, h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1, .h1-l, .h1-xl {
  margin: 1em 0;
  line-height: 1.1;
  font-weight: bold;
}

h6, .h6 {
  font-size: 0.875em;
  color: #777;
}

h5, .h5 {
  font-size: 0.875em;
}

h4, .h4 {
  font-size: 1em;
}

h3, .h3 {
  font-size: 1.25em;
}

h2, .h2 {
  margin: 1em 0 0.75em;
  font-size: 1.5em;
}

h1, .h1 {
  margin: 0 0 0.75em;
  font-size: 2em;
}

.h1-l, .h1-xl {
  margin: 0 0 0.5em;
  font-size: 3.375em;
  font-weight: normal;
}

.h1-xl {
  margin: 0 0 0.5em;
  font-size: 4.5em;
  font-weight: normal;
}

small,
.txt-s {
  font-size: 75%;
}

.txt-xl {
  font-size: 1.5em;
}

/*
 * Block-level margins
 */
p, blockquote, ul, ol, dl, menu, pre {
  margin: 0 0 1.8em;
}

/* Page
========================================================================== */
.is-hidden {
  position: absolute;
  left: -999em;
}

@-webkit-keyframes load {
  0% {
    -webkit-transform: scale3d(3.125, 3.125, 3.125) translateY(1rem);
    opacity: 0;
  }

  30% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) translateY(0.2rem);
    opacity: 1;
  }

  45% {
    -webkit-transform: scale3d(1, 1, 1) translateY(-0.05rem);
  }

  60% {
    -webkit-transform: scale3d(0.95, 0.95, 0.95) translateY(0.05rem);
  }
}

body {
  background: #fefefe;
  /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #fefefe 0%, #e2e2db 100%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #fefefe), color-stop(100%, #e2e2db));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #fefefe 0%, #e2e2db 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, #fefefe 0%, #e2e2db 100%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, #fefefe 0%, #e2e2db 100%);
  /* IE10+ */
  background: radial-gradient(ellipse at center, #fefefe 0%, #e2e2db 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe', endColorstr='#e2e2db',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  text-align: center;
  height: 100%;
}
body:after {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}

.site-brand {
  color: #EDEEEF;
  display: inline-block;
  font-family: 'icomoon';
  font-size: 10em;
  font-weight: normal;
  line-height: 1;
  speak: none;
  vertical-align: middle;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1), 0 -1px 0 rgba(255, 255, 255, 0.7);
  -webkit-font-smoothing: antialiased;
  -webkit-animation: load 1s .5s ease both;
  -webkit-transition: font-size 0.425s ease, color 0.235s ease;
  -moz-transition: font-size 0.425s ease, color 0.235s ease;
  -ms-transition: font-size 0.425s ease, color 0.235s ease;
  -o-transition: font-size 0.425s ease, color 0.235s ease;
  transition: font-size 0.425s ease, color 0.235s ease;
}
.site-brand:hover, .site-brand:focus {
  color: #f2f2f2;
}
.site-brand:active {
  color: #ddd;
}
@media only screen and (min-width: 40em) {
  .site-brand {
    font-size: 20em;
  }
}
@media only screen and (min-width: 50em) {
  .site-brand {
    font-size: 30em;
  }
}
